@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

body {
    background-color: var(--bg-body);
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input,
select,
textarea {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Customize */
@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 992px) {
    .col-lg-2-5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 [class*=col] {
    padding: 10px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.card .link-cover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: "";
}

.color-main {
    color: var(--color-main);
}

.color-hover {
    color: var(--color-hover);
}

.background-main {
    background-color: var(--color-main);
}

.background-hover {
    background-color: var(--color-hover);
}

.text-gray {
    color: var(--text-gray);
}

.text-09 {
    font-size: .9em;
}

.lh-14 {
    line-height: 1.4;
}

.lh-15 {
    line-height: 1.5;
}

.lh-16 {
    line-height: 1.6;
}

.lh-17 {
    line-height: 1.7;
}

.lh-18 {
    line-height: 1.8;
}

.lh-19 {
    line-height: 1.9;
}

.lh-20 {
    line-height: 2;
}

.template-1-btn {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 8px 25px;
    text-transform: uppercase;
}

.template-1-btn:hover,
.template-1-btn:focus {
    box-shadow: inset 0 0 10px #ccc !important;
    border-color: transparent;
    color: #fff !important;
}

.template-1-label {
    font-weight: 600;
    font-size: 1.05em;
}

.template-1-heading {
    max-width: 768px;
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
}

.template-1-heading h4 {
    position: relative;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.template-1-heading h4::before {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 6px;
    width: 80px;
    background-color: #c3c3c3;
    border-radius: 20px;
}

.template-1-heading h4::after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 6px;
    width: 30px;
    background-color: var(--color-main);
    border-radius: 20px;
}

.template-1-heading p {
    font-size: 1.1em;
}

.template-1-minheight {
    min-height: 160px;
}

.card-gioithieu {
    text-align: center;
}

.card-gioithieu .card-header span {
    position: relative;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-gioithieu .card-header span i {
    position: relative;
    z-index: 2;
    font-size: 2em;
    color: var(--color-main);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.card-gioithieu .card-header span:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: var(--color-main);
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

.card-gioithieu .card-header span:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
    background: var(--bg-light);
    opacity: .6;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.card-gioithieu .card-body {
    padding: 15px 50px;
    position: relative;
}

.card-gioithieu .card-body .card-title {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 10px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.card-gioithieu .card-body .card-text {
    font-size: 1.1em;
    line-height: 1.8;
    color: var(--text-gray);
}

.card-gioithieu .card-body .card-text b {
    color: var(--text-dark);
}

.card-gioithieu:hover .card-header span i {
    color: #fff;
}

.card-gioithieu:hover .card-header span:after {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

.card-gioithieu:hover .card-header span:before {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.card-gioithieu:hover .card-body .card-title {
    color: var(--color-main);
}


.card-the .card-header {
    padding: 0;
    border: 8px solid var(--color-border);
}

.card-the .card-header img {
    object-fit: cover;
    width: 100%;
    height: 80px;
    max-width: 90%;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.card-the .card-body {
    padding: 15px 30px 15px 10px;
    position: relative;
}

.card-the .card-body .card-title {
    font-size: 1.15em;
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.card-the .card-body .card-icon {
    width: 22px;
    height: 22px;
    right: 5px;
    top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .95em;
    color: var(--text-gray);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.card-the:hover .card-header img {
    opacity: .8;
}

.card-the:hover .card-body .card-title {
    color: var(--color-main);
}

.card-the:hover .card-body .card-icon {
    color: var(--color-main);
    border-color: var(--color-hover) !important;
}

.card-tintuc {
    background-color: var(--color-main);
    border: 0;
}

.card-tintuc .card-header {
    position: relative;
    padding-bottom: 65%;
    overflow: hidden;
    cursor: pointer;
    border: 0;
}

.card-tintuc .card-header .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff center center/cover no-repeat;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.card-tintuc .card-body {
    background-color: #fff;
    padding: 20px;
    width: calc(100% - 4px);
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    position: relative;
    border-bottom: 2px solid var(--color-main);
}

.card-tintuc .card-meta {
    font-size: 1em;
}

.card-tintuc .card-title {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 8px;
    text-transform: uppercase;
    color: #343a40;
    font-size: 1.1em;
    font-weight: 700;
    -webkit-transition: opacity 0.24s ease-in-out;
    -o-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    line-height: 1.5;
    min-height: 54px;
}

.card-tintuc:hover .card-image {
    opacity: .8;
}

.card-tintuc:hover .card-title {
    color: var(--color-main);
}

.doitac {
    border: 8px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 100px;
}

.doitac img {
    max-width: 100%;
    width: auto;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.swiper-container {
    padding-bottom: 30px;
}

.swiper-container .swiper-pagination {
    bottom: 0;
}

.swiper-container .swiper-pagination > span {
    overflow: hidden;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #6e6f79;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border: 2px solid #6e6e79;
    opacity: 0.7;
    outline: none !important;
    position: relative;
}

.swiper-container .swiper-pagination > span:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2px);
    background-color: #6e6f79;
    box-shadow: inset 0 0 1px #6e6f79;
    -webkit-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.swiper-container .swiper-pagination > span.swiper-pagination-bullet-active {
    box-shadow: inset 0 0 0 1px #0d4972;
    border-color: #0d4972;
}

.swiper-container .swiper-pagination > span.swiper-pagination-bullet-active:after {
    height: calc(100% - 2px);
}

.template-1-footer .top .footer-heading {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 1.1em;
    color: var(--text-dark);
    font-weight: 600;
    line-height: 1.3;
}

.template-1-footer .top .footer-title {
    font-size: 1.2em;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.template-1-footer .top .footer-title:before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background-color: #c3c3c3;
    border-radius: 20px;
}

.template-1-footer .top .footer-title:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 30px;
    background-color: var(--color-main);
    border-radius: 20px;
}

.template-1-footer .top .footer-link ul li:not(:last-of-type) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--color-border);
}

.template-1-footer .top .footer-link ul li a {
    color: var(--text-dark);
    font-size: 1.1em;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.template-1-footer .top .footer-social ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.template-1-footer .top .footer-social ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #343434;
    color: #fff;
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: .3s all ease;
}

.template-1-footer .top .footer-social ul li:hover a.facebook {
    background-color: #1c71b1;
}

.template-1-footer .top .footer-social ul li:hover a.twitter {
    background-color: #4e9ed7;
}

.template-1-footer .top .footer-social ul li:hover a.youtube {
    background-color: #f04d44;
}

.template-1-footer .top .footer-social ul li:hover a.linkedin {
    background-color: #1488c9;
}

.template-1-footer .top .footer-social ul li:hover a.instagram {
    background-color: #f79333;
}

.template-1-footer .top .footer-social ul li:hover a.contact {
    background-color: var(--color-main);
}

.template-1-footer .bottom ul li {
    margin-left: 25px;
}

.template-1-footer .bottom ul li a {
    color: var(--text-dark);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.template-1-footer .bottom ul li:hover a {
    color: var(--color-main);
}

.template-1-banner .swiper-container {
    padding-bottom: 0;
}

.template-1-banner .swiper-container .swiper-wrapper {
    height: auto;
}

.template-1-banner .swiper-container .swiper-slide {
    height: 350px;
    position: relative;
}

.template-1-banner .swiper-container .swiper-slide .swiper-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.template-1-banner .swiper-container .swiper-slide .swiper-image a {
    display: block;
    width: 100%;
    height: 100%;
}

.template-1-banner .swiper-button-prev, .template-1-banner .swiper-button-next {
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #fff;
    color: var(--text-dark);
    opacity: 0;
    visibility: hidden;
}

.template-1-banner:hover .swiper-button-prev, .template-1-banner:hover .swiper-button-next {
    opacity: 1;
    visibility: visible;
}

.template-1-banner .swiper-button-prev:hover, .template-1-banner .swiper-button-next:hover {
    background: var(--color-main);
    color: #fff;
}

.template-1-banner .swiper-button-prev:after, .template-1-banner .swiper-button-next:after {
    font-size: 1.4em;
}